<!--
    Home page that includes the menu bar, navbar, links to various other pages....
-->
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chunch Home</title> <!-- This is shown on the tab/title bar-->
        <link rel="stylesheet" href="style.css">

        <!-- Google Identity Services -->
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <meta name="google-signin-client_id" content="483439290581-t6qm63e9rcuvm62l6j3cghvj71eo5h1k.apps.googleusercontent.com">
    </head>
    <body>
        <!-- Navigation placeholder-->
        <div id="navbar-placeholder"></div>
        <!-- Page-specific content -->
    </body>
</html>