<!--
  !!!Other layout
  Administrator dashboard page for managing volunteers, stations, and absences. Accessible only to users with admin privileges. 
  Provides an overview of volunteer assignments, allows editing volunteer details, and facilitates absence management including 
  extending/shortening absences and assigning reserves.
-->
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="style.css">
    <!-- TODO: Delete temporary font import -->
    
    <!-- Temporary font import -->
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- Maybe change all of these to buttons instead -->
    <nav class="topnav"> <!-- vertical navigation menus -->
      <a href="index.html">Home</a>
      <a href="../SchedulePage/index.html">Show Schedule</a>
      <a href="../InboxPage/index.html">Inbox</a>
    </nav>

    <nav class="sidebar">
      <a href="index.html">Dashboard</a>
      <a href="../SchedulePage/index.html">Schedule</a>
      <a href="../InboxPage/index.html">Inbox</a>
      <a href="#">Stations</a>
    </nav>

    <main>
      <!-- Contains all of center view -->
      <section class="status">
        <div style="background-color:#FF6347;border-color:#FF6347;box-shadow:none;"> <h4>Servers</h4> </div>
        <div style="background-color:#FFBE47;border-color:red;box-shadow:0 0 2px 2px red;"> <h4>Drinks</h4> </div>
        <div style="background-color:#FFF947;border-color:#6BC741FF;box-shadow:0 0 2px 2px #6BC741FF;""> <h4>Desserts</h4> </div>
        <div style="background-color:#81FF47;border-color:#81FF47;box-shadow:0 0 2px 2px #81FF47;"> <h4>Kitchen</h4> </div>
        <div style="background-color:#47FFC1;border-color:#47FFC1;box-shadow:3px 3px #3FE5AD;"> <h4>Dishes</h4> </div>
        <div style="background-color:#B347FF;border-color:#B347FF;box-shadow:7px 5px #6B2A99"> <h4>Bussboys</h4> </div>
      </section>

      <!-- Contains station schedule preview -->
      <section class="schedule">
        <div>
          <h3>Servers</h3>
          <!-- Tables with columns for names, shift times, and contact information -->
          <table>
            <tr>
              <th>Name</th>
              <th>Time</th>
              <th>Contact</th>
            </tr>
            <tr>
              <td>Eleanor</td>
              <td>10-3</td>
              <td>(936) 647-6242</td>
            </tr>
            <tr>
              <td>Aaron</td>
              <td>5-10</td>
              <td>(956) 518-0869</td>
            </tr>
            <tr>
              <td>Evelyn</td>
              <td>5-2</td>
              <td>(281) 908-5235</td>
            </tr>
            <tr>
              <td>Reid</td>
              <td>7-12</td>
              <td>(979) 332-5498</td>
            </tr>
          </table>
        </div>
        <div>
          <h3>Drinks</h3>
          <table>
            <tr>
              <th>Name</th>
              <th>Time</th>
              <th>Contact</th>
            </tr>
            <tr>
              <td>Eleanor</td>
              <td>10-3</td>
              <td>(936) 647-6242</td>
            </tr>
            <tr>
              <td>Aaron</td>
              <td>5-10</td>
              <td>(956) 518-0869</td>
            </tr>
            <tr>
              <td>Evelyn</td>
              <td>5-2</td>
              <td>(281) 908-5235</td>
            </tr>
            <tr>
              <td>Reid</td>
              <td>7-12</td>
              <td>(979) 332-5498</td>
            </tr>
          </table>
        </div>
        <div>
          <h3>Desserts</h3>
          <table>
            <tr>
              <th>Name</th>
              <th>Time</th>
              <th>Contact</th>
            </tr>
            <tr>
              <td>Eleanor</td>
              <td>10-3</td>
              <td>(936) 647-6242</td>
            </tr>
            <tr>
              <td>Aaron</td>
              <td>5-10</td>
              <td>(956) 518-0869</td>
            </tr>
            <tr>
              <td>Evelyn</td>
              <td>5-2</td>
              <td>(281) 908-5235</td>
            </tr>
            <tr>
              <td>Reid</td>
              <td>7-12</td>
              <td>(979) 332-5498</td>
            </tr>
          </table>
        </div>
        <div>
          <h3>Kitchen</h3>
          <table>
            <tr>
              <th>Name</th>
              <th>Time</th>
              <th>Contact</th>
            </tr>
           <tr>
              <td>Eleanor</td>
              <td>10-3</td>
              <td>(936) 647-6242</td>
            </tr>
            <tr>
              <td>Aaron</td>
              <td>5-10</td>
              <td>(956) 518-0869</td>
            </tr>
            <tr>
              <td>Evelyn</td>
              <td>5-2</td>
              <td>(281) 908-5235</td>
            </tr>
            <tr>
              <td>Reid</td>
              <td>7-12</td>
              <td>(979) 332-5498</td>
            </tr>
          </table>
        </div>
        <div>
          <h3>Dishes</h3>
          <table>
            <tr>
              <th>Name</th>
              <th>Time</th>
              <th>Contact</th>
            </tr>
            <tr>
              <td>Eleanor</td>
              <td>10-3</td>
              <td>(936) 647-6242</td>
            </tr>
            <tr>
              <td>Aaron</td>
              <td>5-10</td>
              <td>(956) 518-0869</td>
            </tr>
            <tr>
              <td>Evelyn</td>
              <td>5-2</td>
              <td>(281) 908-5235</td>
            </tr>
            <tr>
              <td>Reid</td>
              <td>7-12</td>
              <td>(979) 332-5498</td>
            </tr>
          </table>
        </div>
        <div>
          <h3>Bussboys</h3>
          <table>
            <tr>
              <th>Name</th>
              <th>Time</th>
              <th>Contact</th>
            </tr>
            <tr>
              <td>Eleanor</td>
              <td>10-3</td>
              <td>(936) 647-6242</td>
            </tr>
            <tr>
              <td>Aaron</td>
              <td>5-10</td>
              <td>(956) 518-0869</td>
            </tr>
            <tr>
              <td>Evelyn</td>
              <td>5-2</td>
              <td>(281) 908-5235</td>
            </tr>
            <tr>
              <td>Reid</td>
              <td>7-12</td>
              <td>(979) 332-5498</td>
            </tr>
          </table>
        </div>
      </section> <!-- end schedule -->

      <section id="inbox">
        <div> <h4>Inbox</h4> </div>
      </section>

      <section id="check">
        <div> <h4>Check</h4> </div>
      </section>
    </main> <!-- end main -->
    <!-- TODO: Script for determining status color-->
     
    <!-- Other scripts -->
    <script>
    const user = localStorage.getItem("chunchUser");

    if (!user) {
      window.location.href = "index.html";
    }
    </script>

    <script>
    document.addEventListener("DOMContentLoaded", () => {
      const name = localStorage.getItem("chunchName");
      if (name) {
        document.getElementById("welcome").innerText = 
          "Welcome, " + name;
      }
    });                       
    </script>
  </body>
</html>