<!--
    About Us page that includes...
-->
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Us</title>

        <!-- Import font and style -->
        <link rel="stylesheet" href="../../../assets/fonts/fonts.css">
        <!-- Preload relevant fonts -->
        <link rel="preload" href="/src/assets/fonts/Atkinson-Hyperlegible-Regular.woff2" as="font" type="font/woff2">
        <link rel="preload" href="/src/assets/fonts/Atkinson-Hyperlegible-Regular.woff" as="font" type="font/woff">
        
        <!-- Google Identity Services -->
        <script src="https://accounts.google.com/gsi/client" async defer></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <!-- Equivilant to gapi.init -->
        <meta name="google-signin-client_id" content="483439290581-t6qm63e9rcuvm62l6j3cghvj71eo5h1k.apps.googleusercontent.com">
    </head>
    <body>
        <!-- Navigation placeholder-->
        <div id="navbar-placeholder"></div>
        <!-- <nav class="navbar">
            <a href="../../../../public/index.html">HOME</a>
            <a href="../MeetTheTeamPage/index.html">MEET THE TEAM</a>
            <a href="../DonatePage/index.html">CONTRIBUTE</a>
            <a href="../VolunteerPage/index.html">VOLUNTEER</a>
            <a href="../QuotesPage/index.html">STUDENTS</a>
        </nav> -->
        
        <script>
            fetch('../common/navbar/nav.html')
                .then(response => response.text())
                .then(data => {
                document.getElementById('navbar-placeholder').innerHTML = data;
                });
        </script>
        
        <!-- Page-specific content -->
        <section class="header">
            <!-- will have a colored background -->
            <h1>About Us</h1>
            <div class="verse">
                <p>“Taste and see that the Lord is good.”</p>
                <cite>– Psalm 34:8</cite>
            </div>

        </section>
        <section class="define">
            <h2>What is Chunch?</h2>
            <p>From the first Monday of the fall semester at Southwestern University, murmurs of excitement spread across campus. Often, the source of this joy is two words: church lunch, or “chunch,” as it’s fondly called by students, is a staple of student life.</p>
            <p>Cheryl and Bryan Scott, leaders of the College Ministry at Crestview Baptist Church, can answer that question: church lunch is a free meal for Southwestern students hosted in the gym at Crestview.</p>
            <p>Now, from 11:00 a.m. to 2:00 p.m. on Mondays, the doors are open to serve lunch. Anyone is allowed to come, regardless of religious affiliation. As long as a student needs a good meal, they’re welcome.</p>
        </section>
        <section class="mission">
            <h2>Our Mission</h2>
            <p>To feed students.</p>
        </section>
        <section class="story">
            <h2>Our Story</h2> <!-- History, etc. Name can change-->
            <p>Founded in 20XX, Chunch has come a long way. It all started when...</p>
        </section>
        
        <div class="footer">
            <!-- Bunch of link things -->
        </div>
    </body>
</html>