<!DOCTYPE html>
<html lang ="en-US"> <!-- Sets the language of the page to English for SEO -->
    <head>
        <meta charset = "UTF-8"> <!--supports special characters-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Helps to support mobile use, tells the page to render page size to the device size and not just a default  -->
        <title>Contribute</title>

        <!-- Importing font -->
        <!-- <link rel="preload" href="/src/assets/fonts/Atkinson-Hyperlegible-Regular.woff2" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="/src/assets/fonts/Atkinson-Hyperlegible-Regular.woff" as="font" type="font/woff" crossorigin> -->
        <!-- Temporary font import -->
        <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

        <style>
        
        </style>
    </head>
    <body>
        <h1>Contribute</h1> <!-- main heading-->
        <p>Your donation helps us continue development.</p> <!-- Description text -->

        <!-- Navbar at top of page -->
        <nav class="navbar">
            <a href="../HomePage/index.html">HOME</a> 
            <a href="../MeetTheTeamPage/index.html">MEET THE TEAM</a> 
            <a href="../DonatePage/index.html">CONTRIBUTE</a>
            <a href="../ApplyPage/index.html">VOLUNTEER</a> 
            <a href="../Students/index.html">STUDENTS</a> 
        </nav>

        <!-- non monetary donation option -->
        <section class="food">
            <h2>Donate Food or Desserts</h2>
            <!-- need more info from bryan on when, where, how to contribute via food-->
            <p>
            If you would like to donate food or desserts to Chunch, please drop them off<br> at
            <strong>(location)</strong> by <strong>10:30 a.m. on Monday morning</strong>.
            </p>
        </section>

        <!-- Funding -->
        <section class="donate">
            <h2>Funding</h2>
            <!-- Reference for wording: https://howtosayguide.com/how-to-say-we-accept-donations/https://howtosayguide.com/how-to-say-we-accept-donations/ -->
            <p>Financial donations are not expected, but will be gratefully accpeted.<br>Online payments can be made through Paypal using the button below</p>
            <!-- Button that links to paypal -->
            <button onclick="window.location.href='https://www.paypal.me/RWill03';">Donate Now</button>
        </section>

        <section class="volunteer">
            <h2>Volunteer</h2>
            <p>Want to contribute in a more direct way? Become a part of the team!<p>
            <button onclick="window.location.href='../ApplyPage/index.html'">Apply Here</button>
        </section>
    </body>
</html>