<!--
    Home page that includes the menu bar, navbar, links to various other pages....
-->
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chunch Home</title> <!-- This is shown on the tab/title bar-->
        <link rel="stylesheet" href="style.css">

    </head>

    <body>
        <!-- Navigation placeholder-->
        <div id="navbar-placeholder"></div>

        <!-- Page-specific content -->
        <div class="container">
            <h1>What is Chunch?</h1>
            <p>From the first Monday of the fall semester at Southwestern University, murmurs of excitement spread across campus. Often, the source of this joy is two words: church lunch, or “chunch,” as it’s fondly called by students, is a staple of student life.</p>
            <p>Cheryl and Bryan Scott, leaders of the College Ministry at Crestview Baptist Church, can answer that question: church lunch is a free meal for Southwestern students hosted in the gym at Crestview.</p>

            <p>Now, from 11:00 a.m. to 2:00 p.m. on Mondays, the doors are open to serve lunch. Anyone is allowed to come, regardless of religious affiliation. As long as a student needs a good meal, they’re welcome.</p>

            <button class="primary-btn" onclick="window.location.href='volunteer-intro-vids.html'">Apply to Volunteer</button>

        </div>

        <button class="admin-btn" onclick="openModal()">Admin / Captain Sign In</button>
    </body>
</html>